[submodule "sanchpethub/themes/hugo-coder"]
	path = sanchpethub/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "links/themes/lynx"]
	path = links/themes/lynx
	url = https://github.com/jpanther/lynx.git
[submodule "sanchpetblog/themes/digitalgarden"]
	path = sanchpetblog/themes/digitalgarden
	url = https://github.com/sanchpet/digital-garden-hugo-theme.git
